<%- include('../includes/head.ejs') %>
    <link rel="stylesheet" href="/css/product.css">
    </head>

    <body>
        <%- include('../includes/navigation.ejs') %>

            <main>
                <% if (prods.length > 0) { %>
                    <div class="grid">
                        <% for (let product of prods) { %>
                            <article class="card product-item centered">
                                <header class="card__header">
                                    <h1 class="product__title">
                                        <%= product.title %>
                                    </h1>
                                </header>
                                <% var time = product.time; // your input

                                time = time.split(':'); // convert to array
                                
                                // fetch
                                var hours = Number(time[0]);
                                var minutes = Number(time[1]);
                                
                                // calculate
                                var timeValue;
                                
                                if (hours > 0 && hours <= 12) {
                                  timeValue= "" + hours;
                                } else if (hours > 12) {
                                  timeValue= "" + (hours - 12);
                                } else if (hours == 0) {
                                  timeValue= "12";
                                }
                                 
                                timeValue += (minutes < 10) ? ":0" + minutes : ":" + minutes;  // get minutes
                                timeValue += (hours >= 12) ? " P.M." : " A.M.";  // get AM/PM
                                 
                
                                var options = { weekday: 'short', year: 'numeric', month: 'short', day: 'numeric' };
                                var today  = new Date(product.date);
                
                            <!-- // console.log(today.toLocaleDateString("en-US")); // 9/17/2016
                                // console.log(today.toLocaleDateString("en-US", options)); // Saturday, September 17, 2016 -->
                   
                                var formattedDate = today.toLocaleDateString("en-US", options);
                                %>
                                <div class="card__content">
                                    <p class="product__date">
                                        Date: <%= formattedDate %>
                                    </p>
                                </div>
                                <div class="card__content">
                                    <p class="product__time">
                                        Time: <%= timeValue %>
                                    </p>
                                </div>
                                <div class="card__image card__image-box">
                                    <img class="product__image" src="<%= product.imageUrl %>" alt="<%= product.title %>">
                                </div>
                                <div class="card__content">
                                    <h2 class="product__price">$
                                        <%= product.price %>
                                    </h2>
                                    <p class="product__description">
                                        <%= product.description %>
                                    </p>
                                </div>
                                <div class="card__actions">
                                    <a href="/admin/edit-product/<%= product._id %>?edit=true" class="btn">Edit</a>
                                    <form action="/admin/delete-product" method="POST">
                                        <input type="hidden" value="<%= product._id %>" name="productId">
                                        <input type="hidden" name="_csrf" value="<%= csrfToken %>">
                                        <button class="btn" type="submit">Delete</button>
                                    </form>

                                </div>
                            </article>
                            <% } %>
                    </div>
                    <% } else { %>
                        <h1>No Activities Found!</h1>
                    <% } %>
            </main>
            <%- include('../includes/end.ejs') %>