<div class="backdrop"></div>
<header class="main-header">


    <nav class="main-header__nav">
        <img class="logo" src="/img/logo.png" alt="eagle logo">

        <ul class="main-header__item-list">

            <li class="main-header__item">
                <a class="<%= path === '/' ? 'active' : '' %>" href="/">Home</a>
            </li>
            <li class="main-header__item">
                <a class="<%= path === '/products' ? 'active' : '' %>" href="/products">Activities</a>
            </li>
            <% if (isAuthenticated) { %>
          
            <li class="main-header__item">
                <a class="<%= path === '/orders' ? 'active' : '' %>" href="/orders">Enrolled</a>
            </li>
            <li class="main-header__item">
                <a class="<%= path === '/cart' ? 'active' : '' %>" href="/cart"><img src="/img/cart.png" style="width:1em"></a>
            </li>
            <% } %>
            <% if (isAuthenticated & isAdmin) { %>
            <div class="admin_dropdown">
                <button class="admin_btn">Admin</button>
                <div class="admin_dropdown-content">
         
                <a class="<%= path === '/admin/add-product' ? 'active' : '' %>" href="/admin/add-product">Add Activity
                </a>
            
           
                <a class="<%= path === '/admin/products' ? 'active' : '' %>" href="/admin/products">Admin Activities
                </a>
           
                <a class="<%= path === '/all-orders' ? 'active' : '' %>" href="/all-orders">All Signups</a>
                </a>
            
            </div>
        </div>
            
            <% } %>
        </ul>
        <ul class="main-header__item-list">
            <% if (!isAuthenticated) { %>
            <li class="main-header__item">
                <a class="<%= path === '/login' ? 'active' : '' %>" href="/login">Login</a>
            </li>
            <li class="main-header__item">
                <a class="<%= path === '/signup' ? 'active' : '' %>" href="/signup">Signup</a>
            </li>
            <% } else { %>
            <li class="main-header__item">
                <form action="/logout" method="post">
                    <input type="hidden" name="_csrf" value="<%= csrfToken %>">
                    <button type="submit">Logout</button>
                </form>
            </li>
            <% } %>
        </ul>
      
    </nav>
</header>

<div class="dropdown">
    <button class="dropbtn">Menu</button>
    <div class="dropdown-content">
    
        
            <a class="<%= path === '/' ? 'active' : '' %>" href="/">Home</a>
       
            <a class="<%= path === '/products' ? 'active' : '' %>" href="/products">Activities</a>
        
        <% if (isAuthenticated) { %>
      
            <a class="<%= path === '/cart' ? 'active' : '' %>" href="/cart"> Cart</a>
        
            <a class="<%= path === '/orders' ? 'active' : '' %>" href="/orders">Enrolled</a>
        <% } %>

       <% if (isAuthenticated & isAdmin) { %>
        <div class="admin_dropdown">
            <button class="admin_btn">Admin</button>
            <div class="admin_dropdown-content">
     
            <a class="<%= path === '/admin/add-product' ? 'active' : '' %>" href="/admin/add-product">Add Activity
            </a>
        
       
            <a class="<%= path === '/admin/products' ? 'active' : '' %>" href="/admin/products">Admin Activities
            </a>
       
            <a class="<%= path === '/all-orders' ? 'active' : '' %>" href="/all-orders">All Signups</a>
            </a>
        
        </div>
    </div>
        
       
        <% } %>
        <% if (!isAuthenticated) { %>
       
            <a class="<%= path === '/login' ? 'active' : '' %>" href="/login">Login</a>
       
            <a class="<%= path === '/signup' ? 'active' : '' %>" href="/signup">Signup</a>
      
        <% } else { %>
    
            <form action="/logout" method="post">
                <input type="hidden" name="_csrf" value="<%= csrfToken %>">
                <button class="logout_btn" type="submit">Logout</button>
            </form>
       
        <% } %>
   
</div>
</div>



