<%- include('includes/head.ejs') %>
<link rel="stylesheet" href="/css/forms.css">
</head>

<body>
    <%- include('includes/navigation.ejs') %>
  
   <section class="aboutUs">
       <div class="aboutHeader">
           <h1>Need To Get In Contact?</h1>
        </div>
           <div class="about">
               <p>Have any questions, comments, or concerns? We're all ears! 
                   Like we said, we're all about our community and strive to make
                   Eagle a safe, fun, and friendly environment for all! As a community 
                   program, our goal is to make this community everything that you need and want 
                   it to be, so don't hesitate to tell us if we need to improve, or if you just 
                   have a suggestion for an activity. <br> <br>
                   Please fill out your information below, and we'll get back to you as soon as possible!
               </p>
           </div>
           <hr>
           <br>
           <div class="about">
            <form class="about-form" action="" method="POST">
                <div class="form-control">
                    <label for="fName">First Name</label>
                    <input class="" type="text" name="fName" id="fName" value="<%= oldInput.fName %>">
                </div>
                <div class="form-control">
                    <label for="lName">Last Name</label>
                    <input class="" type="text" name="lName" id="lName" value="<%= oldInput.lName %>">
                </div>
                <div class="form-control">
                    <label for="email">E-Mail</label>
                    <input class="<%= validationErrors.find(e => e.param === 'email') ? 'invalid' : '' %>" type="email" name="email" id="email" value="<%= oldInput.email %>">
                </div>
                <div class="form-control">
                    <label for="description">Description</label>
                    <textarea class="<%= validationErrors.find(e => e.param === 'description') ? 'invalid' : '' %>" name="description" id="description" rows="5"></textarea>
                </div>
                <input type="hidden" name="_csrf" value="<%= csrfToken %>">
                <button class="btn" type="submit">Submit</button>
            </form>
           </div>
           
     
   </section>
    
<%- include('includes/end.ejs') %>