<%- include('../includes/head.ejs') %>
<link rel="stylesheet" href="/css/product.css">
</head>

<body>
    <%- include('../includes/navigation.ejs') %>
    <main>
    <section class="banner">
    <!-- Slideshow Container-->
    <div class="slideshow-container">
        <!-- Images -->
       

        <div class="mySlides fade">
            <img src="/img/home-kids.jpg" style="width:100%">
            
        </div>

        <div class="mySlides fade">
            <img src="/img/home-playground.jpg" style="width:100%">
            
        </div>

        <div class="mySlides fade">
            <img src="/img/home-swim.jpg" style="width:100%">
          
        </div>


     
    </div>

    <!-- The dots/circles -->
<div style="text-align:center">
    <span class="dot" onclick="currentSlide(1)"></span>
    <span class="dot" onclick="currentSlide(2)"></span>
    <span class="dot" onclick="currentSlide(3)"></span>
    
  </div>
</section>
    <main>
        <section class="section aboutUsSec">
            
            <div class=" heading aboutHead">
                <div class="welcome"><h1 style="color: #1c78a3;">Welcome To The Eagle Community</h1>   <img class="eagle" src="/img/logo.png"></div>
                <div class="about">
                    <h3>We are glad you are apart of our community.</h3> 
                    <p>Here in Eagle,
                        we pride ourselves on striving to be a fun and interactive
                        community that welcomes all.<br>
                         We enjoy getting our community
                        together as much as possible, as we believe a friendly community
                        creates the ideal setting for the youth here.</p>
                         <p>Here on our community
                        page, you will find a variety of activities for a variety of ages.
                        We have toddler time to senior date nights weekly, and everything in
                        between.</p>
                        <p>Join us during the summer months for movies in the park on the
                        third Saturday of every month, or in the winter for ice skating! </p>
                        <h3>We hope to see you soon!</h3>
                     
                    </div>
                
                <br>
            </div>
            <img class="family" src="/img/home-family.jpg">
        </section>
        <br>
        <hr>
        <section class="section events">
            <div class="heading eventsHead">
                <h1 style="text-align: center; color: #1c78a3;">Coming This Month</h1>
            </div>
            <% if (prods.length > 0) { %>
            <div class="grid">
                <% for (let product of prods) { %>
                <article class="card product-item centered">
                    <header class="card__header">
                        <h1 class="product__title"><%= product.title %></h1>
                    </header>
                    <div class="card__content">
                        <p class="product__date">Date: <%= product.date %></p>
                    </div>
                    <div class="card__content">
                        <p class="product__time">Time: <%= product.time %></p>
                    </div>
                    <div class="card__image card__image-box">
                        <img class="product__image" src="<%= product.imageUrl %>" alt="<%= product.title %>">
                    </div>
                    <div class="card__content">
                        <h2 class="product__price">$<%= product.price %></h2><br>
                        <p class="product__description"><%= product.description %></p>
                    </div>                   
                    <div class="card__actions">
                        <a href="/products/<%= product._id %>" class="btn">Details</a>
                        <%- include('../includes/add-to-cart.ejs', {product: product}) %>
                    </div>
                </article>
                <% } %>
            </div>
            <% } else { %>
            <h1>No Products Found!</h1>
            <% } %>
            <div class="pagination">
                <%- include('../includes/pagination.ejs', {currentPage: currentPage, nextPage: nextPage, previousPage: previousPage, lastPage: lastPage, hasNextPage: hasNextPage, hasPreviousPage: hasPreviousPage}) %>
            </div>
        </section>
      

    </main>

    <script>
        var slideIndex = 1;
showSlides(slideIndex);

// Next/previous controls
function plusSlides(n) {
  showSlides(slideIndex += n);
}

// Thumbnail image controls
function currentSlide(n) {
  showSlides(slideIndex = n);
}

function showSlides(n) {
  var i;
  var slides = document.getElementsByClassName("mySlides");
  var dots = document.getElementsByClassName("dot");
  if (n > slides.length) {slideIndex = 1}
  if (n < 1) {slideIndex = slides.length}
  for (i = 0; i < slides.length; i++) {
      slides[i].style.display = "none";
  }
  for (i = 0; i < dots.length; i++) {
      dots[i].className = dots[i].className.replace(" active", "");
  }
  slides[slideIndex-1].style.display = "block";
  dots[slideIndex-1].className += " active";
}
    </script>
    <%- include('../includes/end.ejs') %>