<%- include('../includes/head.ejs') %>
<link rel="stylesheet" href="/css/orders.css">
</head>

<body>
    <%- include('../includes/navigation.ejs') %>
    <main>
        <h1>Purchased Activities:</h1>
        <%if (orders.length <= 0) { %>
        <h1>Nothing there!</h1>
        <% } else { 
            productsArray = []
            singleProducts = []%>

<!-- Code that uses 'sortedActivities' which is an array of the user's activities sorted so the soonest will appear at the top 
    and latest at bottom -->
            <ul class="orders">                    
                    <ul class="orders__products">
                        <% sortedActivities.forEach(s => { %>
                            <% var time = s.product.time; // your input

                            time = time.split(':'); // convert to array
                            
                            // fetch
                            var hours = Number(time[0]);
                            var minutes = Number(time[1]);
                            
                            // calculate
                            var timeValue;
                            
                            if (hours > 0 && hours <= 12) {
                              timeValue= "" + hours;
                            } else if (hours > 12) {
                              timeValue= "" + (hours - 12);
                            } else if (hours == 0) {
                              timeValue= "12";
                            }
                             
                            timeValue += (minutes < 10) ? ":0" + minutes : ":" + minutes;  // get minutes
                            timeValue += (hours >= 12) ? " P.M." : " A.M.";  // get AM/PM
                             
                
                            var options = { weekday: 'short', year: 'numeric', month: 'short', day: 'numeric' };
                            var today  = new Date(s.product.date);
                
                            <!-- // console.log(today.toLocaleDateString("en-US")); // 9/17/2016
                            // console.log(today.toLocaleDateString("en-US", options)); // Saturday, September 17, 2016 -->
                
                            var formattedDate = today.toLocaleDateString("en-US", options);
                            %>
                        <li class="orders__item"><h1><%= s.product.title%></h1> Time:  <%= timeValue %> <br> Date: <%= formattedDate %> </li>
                        <% }); %>
                    </ul>
            </ul>

 <!--Original Code that uses 'orders' and isn't sorted by date
             <ul class="orders">
                <% orders.forEach(order => { 
                    productsArray.push(order.products)%>
                    <ul class="orders__products">
                        <% order.products.forEach(p => { %>
                        <li class="orders__item"><h1><%= p.product.title%></h1> Time:  <%=p.product.time%> <br> Date: <%=p.product.date %> </li>
                        <% }); %>
                    </ul>
                <% });%>
            </ul> -->
        <% }  %>

    </main>
    <%- include('../includes/end.ejs') %>